In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('Income.csv.txt')
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [79]:
# 6. State with the lowest recorded income from 2005 to 2013
df.iloc[:,2:].mean(axis=1).argmin()

C:\Users\IIIT-rgukt\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.

'Arkansas'

In [78]:
# 5. Print the names of states based on descending order of income in the year 2009
df['2009'].sort_values(ascending=False).index

Index(['Alaska', 'California', 'Arizona', 'Alabama', 'Arkansas'], dtype='object', name='State')

In [ ]:
df['2009'].sort_values

55868.57142857143

In [65]:

# 4. Print the list of all states in the same line with average income less than California

california=df.iloc[4:,4:].mean(axis=1)
california=california.iloc[0]
california

df[df.iloc[:5,4:].mean(axis=1)<california].index

Index(['Alabama', 'Arizona', 'Arkansas'], dtype='object', name='State')

In [43]:
# 3. State with lowest average income from 2007 to 2010(inclusive)
df.iloc[:,4:].mean(axis=1).argmin()

C:\Users\IIIT-rgukt\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

'Arkansas'

In [41]:
df.iloc[:,-3:].sum(axis=1)

State
Alabama       127435
Alaska        182216
Arizona       146267
Arkansas      120239
California    167915
dtype: int64

In [80]:
#2. State with highest average income in the last three years
df.iloc[:,-3:].mean(axis=1).argmax()

C:\Users\IIIT-rgukt\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

'Alaska'

In [36]:
#1. Average Income of all states from 2005 to 2013
df.index=df['State']
df.mean(axis=1)

State
Alabama       41126.444444
Alaska        60106.555556
Arizona       48967.888889
Arkansas      38828.888889
California    55350.444444
dtype: float64